<!DOCTYPE html>
<html>

<head>
  <title>
    Notas de voz
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet"href="/utils/snackbar/snackbar.min.css" />
  <script src="/utils/snackbar/snackbar.min.js"></script>
  <script src="/utils/moment/moment.js"></script>
  <script src="/utils/moment/es.js"></script>
  <script src="/js/reproducirAudio.js"></script>
</head>
<section>
  <header>
    <h1>Reproducir audio copiado</h1>
  </header>
  <menu>
        <button type="button" id='playcopy' value='playcopy' >Play copied audio</button></br>
  </menu>
  <div>
    <ul id="ulAudio">
    </ul>
  </div>
  <footer>
    <p>
      Sistemas Web (2023-2024)
    </p>
  </footer>
</section>

</body>

</html>