<!DOCTYPE html>
<html>

<head>
  <title>
    Notas de voz
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet"href="/utils/snackbar/snackbar.min.css" />
  <script src="/utils/snackbar/snackbar.min.js"></script>
  <script src="/utils/moment/moment.js"></script>
  <script src="/utils/moment/es.js"></script>
  <script type="module" src="/js/main.js"></script>
</head>
<section>
  <header>
    <h1>Notas de Voz</h1>
  </header>
  <form>
    <button id="liRecordButton">
      <img src="./img/record.svg" />
      <span>
        Grabar
      </span>
    </button>
    <button id="liPlayButton">
      <img src="./img/play.svg" />
      <span>
        Escuchar
      </span>
    </button>
    <button id="liUploadButton">
      <img src="./img/upload.svg" />
      <span>
        Guardar
      </span>
    </button>
  </form>
  <div>
    <ul id="audioList">

    </ul>
  </div>
  <footer>
    <p>
      Sistemas Web (2023-2024)
    </p>
  </footer>
</section>

</body>

</html>