<html>
<head>
  <title>Login</title>
  <script type="module" src="/js/login.js"></script>
</head>
<body>
<input type="text" size="20" placeholder="Nombre" id="name"><br />
<input type="password" size="20" placeholder="Contraseña" id="pass"><br />
<input type="button" value="Submit" id="submit">
<input type="button" value="Register" id="register">
</body>
</html>
