<!DOCTYPE html>
<html>

<head>
  <title>
    Notas de voz
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet"href="/utils/snackbar/snackbar.min.css" />
  <script src="/utils/snackbar/snackbar.min.js"></script>
  <script src="/utils/moment/moment.js"></script>
  <script src="/utils/moment/es.js"></script>
  <script type="module" src="/js/main.js"></script>
  <script type="module" src="/js/logout.js"></script>
</head>
<button type="button" id='logout' value='logout'>logout</button></br>
<button type="button" id='playcopy' value='playcopy' >play copy</button></br>
<section>
  <header>
    <h1>Notas de Voz</h1>
  </header>
  <menu>
    <ul>
      <li id='liRecordButton'></li>
      <li id='liPlayButton'></li>
      <li id='liUploadButton'></li>
    </ul>
  </menu>
  <div>
    <ul id="ulAudio">
    </ul>
  </div>
  <footer>
    <p>
      Sistemas Web (2023-2024)
    </p>
  </footer>
</section>

</body>

</html>