* {
  /*
  Para debugging:
  border: red 1px solid;
  */
  font-family: 'Consolas';
}

body {
  background-color: rgb(146, 146, 146);
}

section {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 2%;
  border-radius: 10px;
  border: 2px black solid;
  box-shadow: 10px 10px black;

  background-color: beige;
  text-align: center;
}

header,
footer,
menu {
  padding: 5px;
}


h1 {
  font-size: 25px;
}

ul {
  list-style: none;
  padding-left: 0;
}

menu button,
#ulAudio li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul li * {
  flex: 1;
}

menu button {
  width: 80%;
  margin: 5px auto;
  border: 2px black solid;
  border-radius: 10px;
  padding: 5px;

  color: beige;
  font-size: 15px;
  font-weight: bold;
}

button:enabled {
  background-color: #F50158;
  cursor: pointer;
}

button:disabled {
  background-color: #616161;
  cursor: arrow;
}

menu span {
  text-align: left;
  margin-top: 5px;
}

#ulAudio span {
  text-align: center;
}

#ulAudio li {
  margin: 5px;
}

li img {
  margin: 0 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
